@media (max-width: 700px) {
    html {
        background-image: none;
    }
    
    body {
        opacity: 1;
        min-height: auto;
    }

    ul {
        width: auto;
        position: relative;
    }

    main {
        margin: 0;
        padding: 0 5px;
    }

    #carouselExampleIndicators {
        margin-left: 0;
    }

    .bee img, .room img {
        width: 100%;
        margin-bottom: 10px;
    }

    .topnav {
        display: flex;
        background-color: darkgray;
    }

    .topnav a {
        display: none;
    }

    .topnav a.hamburger {
        float: right;
        display: block;
    }

    .topnav.responsive {
        position: relative;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .topnav.responsive .hamburger {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

    #top-address {
        display: none;
    }

    .call {
        display: none;
    }

    li.name {
        padding: 0;
        display: flex;
    }

    li.name p {
        margin: 8px 0 0 5px;
    }

    li.name h1 {
        font-size: 30px
    }

    #health img {
        width: 85%;
        float: none;
    }

    #about img {
        width: 55%;
    }

    footer {
        display: flex;
        justify-content: space-around;
        overflow: auto;
        background-color: darkgray;
        margin: 0;
    }

    .bottom-call img {
        width: 30px
    }

    footer a {
        color: black;
    }

    #bottom-address, footer p {
        margin: 0;
    }

    .logoV {
        display: none;
    }

    .bottom-img img {
        width: 100px;
    }
}
